<nav>

    <ul>

        <li><a href="/"><img src="/images/chef-burdeos.png" alt="Logo" class="chef"></a></li>

        <li class="title">TartApp</li>

    </ul>

</nav>


    <div class="container-flex new-form">

        <div class="row justify-content-center align-items-center">

            <div class="col-4" class="places-list">

                <h2>{{name}} Recipe</h2>

                <form action="/recipes/{{id}}/edit" method="post">

                <label for="name">Name</label>
                <input type="text" name="name" value="{{name}}"><br>

               
                <label for="ingredients">Ingredients<a href="#" class="add">+</a></label><br>
                {{#each ingredients}}
                <input class="edit-input" type="text" name="ingredients" value="{{this}}"><br><br>
                {{/each}}

                <label for="steps">Steps<a href="#" class="add">+</a></label><br>
                {{#each steps}}
                <input type="text" name="steps" value="{{this}}"><br><br>
                {{/each}}

                <label for="difficulty">Difficulty</label>
                <select name="difficulty">

                <option>Easy</option>
                <option>Amateur</option>
                <option>Chef</option>


                </select><br>
                
                <button class="hover-btn btn" type="submit">Edit recipe</button>

                </form>

                <a class="hover-btn btn" href="/recipes">Go back</a>

            </div>

            <div class="col-6">
            
                <img class="editImg" src="/images/recipe-edit.jpg" alt="receta">
            
                <div class="row justify-content-start">
            
                    <div class="col-9">
            
                        <p class="quote">"Everything tastes better wrapped in a puff pastry"</p>
            
                    </div>
            
                </div>
            
            
            </div>

        </div>

    </div>

<aside>

    <p>Made for Ironhack Madrid</p>

</aside>


<script>

const buttons = document.querySelectorAll('.add')

buttons.forEach( elm => {
    
    elm.onclick = () => {

        const newInput = document.createElement('input')
        newInput.placeholder = 'New ingredient'

        const firstInput = document.querySelectorAll('.edit-input')[1]
        
        document.querySelector('form').insertBefore(newInput, firstInput)

    }
})

</script>