<nav>

    <ul>

        <li><a href="/"><img src="/images/chef-burdeos.png" alt="Logo" class="chef"></a></li>

        <li class="title">TartApp</li>

    </ul>

</nav>

<div class="container-flex places">

    <div class="row justify-content-center align-items-start">

        <div class="col-4 places-list">

            <h2>{{details.name}}</h2>

            <p>Difficulty: {{details.difficulty}}</p>

            <p>Ingredients</p>

            <ul>

                {{#each details.ingredients}}

                <li>{{this}}</li>  

                {{/each}}

            </ul>

        </div>

        <div class="col-7 places-list">
        
            <p>Steps</p>
        
            <ol>
        
                {{#each details.steps}}
        
                <li>{{this}}</li>
        
                {{/each}}
        
            </ol>

            <hr>

            <a class="hover-btn btn" href="/recipes/{{details.id}}/edit">Edit recipe</a>

            <a class="hover-btn btn" href="/recipes/{{details.id}}/post">Add to My Recipes</a>


            <a class="hover-btn btn" href="/recipes">Go back</a>

        </div>

    </div>

</div>

<aside class="aside">

    <p>Made for Ironhack Madrid</p>

</aside>