<nav>

    <ul>

        <li><a href="/"><img src="/images/chef-burdeos.png" alt="Logo" class="chef"></a></li>

        <li class="title">TartApp</li>

    </ul>

</nav>

<div class="container-flex places">

    <div class="row">

        <div class="col-6 places-list">

            <h2>{{name}} Recipe</h2>

            <p>Difficulty: {{difficulty}}</p>

            <p>Ingredients</p>

            <ul>

                {{#each details.ingredients}}

                <li>{{details.ingredients}}</li>  
                {{!-- falta que pinte la lista de ingredientes --}}

                {{/each}}

            </ul>

        </div>

        <div class="col-6 places-list">
        
            <p>Steps</p>
        
            <ol>
        
                {{#each details.steps}}
        
                <li>{{details.steps}}</li>
                {{!-- falta que pinte la lista de ingredientes --}}
        
                {{/each}}
        
            </ol>

            <hr>
            
            <a class="hover-btn btn" href="/recipes/{{id}}/edit">Edit recipe</a>
            
            <a class="hover-btn btn" href="/recipes">Go back</a>

        </div>

    </div>

</div>

<aside class="aside">

    <p>Made for Ironhack Madrid</p>

</aside>